/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  height: calc(100vh - 8em);
  padding: 4em;
  color: rgb(0, 0, 0);
  font-family: 'Anonymous Pro', monospace;
  background-color: rgb(245, 246, 248);
}
.line-1{
    position: relative;
    top: 50%;
    width: 6em;
    margin: 0 auto;
    border-right: 2px solid rgb(0, 0, 0);
    font-size: 380%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
}

.button-holder {
    position: relative;
    top: 80%;
    width: 100%;
}

.about-button {
    float: right;
    background-color: black;
    color: rgb(245, 246, 248);
    font-size: 180%;
}

.event-button {
    float: left;
    background-color: black;
    color: rgb(245, 246, 248);
    font-size: 180%;
}

/* Animation */
.anim-typewriter{
  -webkit-animation: typewriter 2.5s steps(15) normal both,
             blinkTextCursor 750ms steps(15) infinite normal;
          animation: typewriter 2.5s steps(15) normal both,
             blinkTextCursor 750ms steps(15) infinite normal;
}
@-webkit-keyframes typewriter{
  from{width: 0;}
  to{width: 6em;}
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 6em;}
}
@-webkit-keyframes blinkTextCursor{
  from{border-right-color: rgb(0, 0, 0);}
  to{border-right-color: transparent;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgb(0, 0, 0);}
  to{border-right-color: transparent;}
}